<html>
    <head>
        <title>EmigrationBet</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Конкурс прогнозов ЧМ2022 1хEmigrationBet</a></h1>
        </div>

        <div>
            <h2><a href="">1 тур</a></h2>
            <p><li>Dima_Dobrin набрал 33 очка в туре</li>
                <li>Kostya_Gorokhov набрал 40 очков в туре</li>
                <li>Sergey_Gavrilov набрал 27 очка в туре</li>
                <li>Ivan_Tolkachev набрал 39 очков в туре</li>
                <li>Artem_Chubarov набрал 58 очков в туре + 5 как лучшему в туре = 63</li></p>
                <p>Опубликовано: 08.12.2022, 15:14</p>
        </div>

        <div>
            <h2><a href="">2 тур</a></h2>
            <p><li>Dima_Dobrin набрал 37 очка в туре</li>
                <li>Kostya_Gorokhov набрал 42 очков в туре + 5 как лучшему в туре = 47</li>
                <li>Sergey_Gavrilov набрал 18 очка в туре</li>
                <li>Ivan_Tolkachev набрал 37 очков в туре</li>
                <li>Artem_Chubarov набрал 40 очков в туре</li></p>
            <p>Опубликовано: 08.12.2022, 15:15</p>
        </div>

        <div>
            <h2><a href="">Общий итог после 2 туров</a></h2>
            <p><li>Dima_Dobrin - 70 очков</li>
                <li>Kostya_Gorokhov - 87 очков</li>
                <li>Sergey_Gavrilov - 45 очков</li>
                <li>Ivan_Tolkachev - 76 очков</li>
                <li>Artem_Chubarov - 103 очка</li></p>
            <p>Опубликовано: 08.12.2022, 15:16</p>
        </div>

        <div>
            <h2><a href="">3 тур</a></h2>
            <p><li>Dima_Dobrin набрал 44 очка в туре</li>
                <li>Kostya_Gorokhov набрал 42 очков в туре</li>
                <li>Sergey_Gavrilov набрал 34 очка в туре</li>
                <li>Ivan_Tolkachev набрал 54 очков в туре + 5 как лучшему в туре = 59</li>
                <li>Artem_Chubarov набрал 21 очков в туре</li></p>
            <p>Опубликовано: 08.12.2022, 15:17</p>
        </div>

        <div>
            <h2><a href="">Общий итог после 3 туров</a></h2>
            <p><li>Dima_Dobrin - 114 очков</li>
                <li>Kostya_Gorokhov - 129 очков</li>
                <li>Sergey_Gavrilov - 79 очков</li>
                <li>Ivan_Tolkachev - 135 очков</li>
                <li>Artem_Chubarov - 124 очка</li></p>
            <p>Опубликовано: 08.12.2022, 15:18</p>
        </div>

        <div>
            <h2><a href="">4 тур (1/8 финала)</a></h2>
            <p><li>Dima_Dobrin набрал 15 очка в туре</li>
                <li>Kostya_Gorokhov набрал 28 очков в туре</li>
                <li>Sergey_Gavrilov набрал 42 очка в туре + 5 как лучшему в туре = 47</li>
                <li>Ivan_Tolkachev набрал 24 очков в туре</li>
                <li>Artem_Chubarov набрал 34 очков в туре</li></p>
            <p>Опубликовано: 08.12.2022, 15:19</p>
        </div>

        <div>
            <h2><a href="">Общий итог после 4 туров</a></h2>
            <p><li>Dima_Dobrin - 129 очков</li>
                <li>Kostya_Gorokhov - 157 очков</li>
                <li>Sergey_Gavrilov - 126 очка</li>
                <li>Ivan_Tolkachev - 159 очков</li>
                <li>Artem_Chubarov - 158 очков</li></p>
            <p>Опубликовано: 08.12.2022, 15:20</p>
        </div>
    </body>
</html>